extends ../layout

block content
    h1 Welcome to Admin panel
    h3 Posts :
    each post in posts
        span #{post.title} 
            a.btn.btn-info( href=`post/show/${post.postId}` ) Show
            a.btn.btn-danger( href=`post/delete/${post.postId}` ) Delete
            br
    br
    h3 Users :
    each user in users
        span #{user.email}  
            //- a.btn.btn-info( href=`post/edit/${post.postId}` ) Edit
            if (user.role == 'admin')
                a.btn.btn-info( href=`user/show/${user.userId}` ) Show
                button.btn.btn-danger( href=`user/delete/${user.userId}` disabled) Admin cannot be deleted
                br
            else
                a.btn.btn-info( href=`user/show/${user.userId}` ) Show
                a.btn.btn-danger( href=`user/delete/${user.userId}` ) Delete
                br

        
