extends ../layout

block content
    h1 Welcome to Admin panel
    p Posts :
    each post in posts
        span #{post.title}
            a.btn.btn-info( href=`post/edit/${post.postId}` ) Edit
            a.btn.btn-danger( href=`post/delete/${post.postId}` ) Delete
            br
    p Users :
    each user in users
        span #{user.email}
            //- a.btn.btn-info( href=`post/edit/${post.postId}` ) Edit
            a.btn.btn-danger( href=`user/delete/${user.userId}` ) Delete
            br

        
