extends layout

block content
    form.filter-form(action=`/filter/` method="GET")
        div(class="input-field col s4 filter")
            select(name="category" onchange="this.form.submit();")
                option(value=0 selected='selected' disabled) Filter category
                each category in categories
                    option(value=category.categoryId) #{category.category}   
    h2.home Recent posts
            

    div(id="list")
        ul(class="list")
        div.row
            each post in posts
                li(style="list-style-type:none;")
                div.col.s12.m4
                    div.card
                        div.card-content
                            div.card-title #{post.title}
                            if(post.content.length > 40)
                                - const excerpt = post.content.substr(0, 50) + '...';
                                span !{excerpt}
                            else
                                span !{post.content}
                            
                            div.card-action
                                a.name-search Posted by #{post.user.name}
                                a.right(href=`/post/show/${post.postId}` style="margin-right:0px;") show
                            p.row
                                a.left(href=`/filter/?category=${post.category.categoryId}`) #{post.category.category}
                                - const date = post.createdAt 
                                - let cleanDate = date.toUTCString();
                                - cleanDate=cleanDate.split(' ').slice(0, 4).join(' ')
                                span.right #{cleanDate}
    
            
