extends layout

block content
    h1 Welcome on the homePage
    form.form(action=`/filter/` method="GET")
        select(name="category")
            option(value='', selected='selected') Filter category
            each category in categories
                option(value=category.categoryId) #{category.category} 
        input.button(type="submit", value="Filter")

    div(id="post-list")
        input(type="text", class="fuzzy-search", placeholder="Search posts")
        ul(class="list")
            each post in posts
                li
                    h3.name #{post.title}
                    h3.user posted by #{post.user.name}
                    a(href=`/post/show/${post.postId}`) show
