//-Helpers
    //attributes a(href=`${name}`)
    //var  = -const marv = name.toUppercase();
    //replace block, create new in this file

doctype html
html
    head
        title='Marvins blog'
        link(rel='stylesheet', href='/dist/style.css')
        link(rel="stylesheet" href="https://cdn.quilljs.com/1.3.2/quill.snow.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css")


        
        
        
        meta(name='viewport', content='width=device-width', initial-scale=1)
    body
        block header
            header.top 
                nav.nav
                    .nav__section.nav__section--pages
                    if user
                        each item in h.dashboardMenu
                                        li.nav__item
                                            a.nav__link(href=item.slug)
                                                span #{item.title}
                        p loggedin as #{user.name}
                    else
                        each item in h.menu
                            li.nav__item
                                a.nav__link(href=item.slug)
                                    span #{item.title}
                        p loggedOut
                        if locals.flashes
                            .inner.inner--flashes
                                .flash-messages
                                    - const categories = Object.keys(locals.flashes)
                                    each category in categories
                                        each message in flashes[category]
                                            .flash(class=`flash--${category}`)
                                                p.flash__text!= message
                                                button.flash__remove(onClick="this.parentElement.remove()") &times;
    .content
        block content

    block scripts
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js")
        script(src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js")
        script(src="https://cdn.ckeditor.com/4.7.3/standard/ckeditor.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js")
        script(src="/dist/App.bundle.js")

     




