extends ../layout

block content
    h1 Edit your post
    form.form(action=`/post/update/${post.postId}` method="POST")
        input(type="hidden", name="postId", value=post.postId)
        input(type="text", name="title", placeholder="Title" value=post.title)
        br
        select(name="categoryId")
            option(value=post.category.categoryId, selected='selected') #{post.category.category}
                each category in categories
                    if(post.category.category !== category.category)
                        option(value=category.categoryId) #{category.category}
        br
        input(type="checkbox" name="active" label="Active")
        |   Active
        br
        textarea(rows="10", cols="50", name="content", placeholder="Message..") #{post.content}
        br
        input.button(type="submit", value="Save")