extends ../layout

block content
    div.post-content 
        h2.post-page #{post.title}
        h2.post-category #{post.category.category}

        span !{post.content}
            h2.posted-by Posted by #{post.user.name}
            div.edits
                if user
                    if (currentUser.role == 'admin' || currentUser.userId == post.user.userId)
                        a(href=`/dashboard/post/edit/${post.postId}`) Edit 
                        
                        a(href=`/dashboard/post/delete/${post.postId}`) Delete
                    else
