extends ../layout

block content
    h3 #{post.title}
    h3 #{post.categorie}

    div !{post.content}
    h3 posted by #{post.user.name}
    if user
        if (currentUser.role == 'admin' || currentUser.userId == post.user.userId)
            a(href=`/post/edit/${post.postId}`) edit
            br
            a(href=`/post/delete/${post.postId}`) delete
        else
        

